In [46]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine, text
import getpass  # To get the password without showing the input
password = getpass.getpass()

 ········

In [58]:
#Establish a connection between Python and the Sakila database.
bd = "sakila"
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+bd
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

In [60]:
# 2 Write a Python function called rentals_month that retrieves rental data for a given month and year (passed as parameters) from the Sakila database as a Pandas DataFrame. The function should take in three parameters:
# engine: an object representing the database connection engine to be used to establish a connection to the Sakila database.
# month: an integer representing the month for which rental data is to be retrieved.
# year: an integer representing the year for which rental data is to be retrieved.

In [62]:
from sqlalchemy import text

with engine.connect() as connection:
    query = text('SELECT * FROM rental')
    result = connection.execute(query)

result

In [64]:
with engine.connect() as connection:
    query = text('SELECT * FROM rental')
    result = connection.execute(query)
    df = pd.DataFrame(result.all())

df

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1,2006-02-15 21:30:53
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1,2006-02-15 21:30:53
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1,2006-02-15 21:30:53
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2,2006-02-15 21:30:53
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1,2006-02-15 21:30:53
...,...,...,...,...,...,...,...
16039,16045,2005-08-23 22:25:26,772,14,2005-08-25 23:54:26,1,2006-02-15 21:30:53
16040,16046,2005-08-23 22:26:47,4364,74,2005-08-27 18:02:47,2,2006-02-15 21:30:53
16041,16047,2005-08-23 22:42:48,2088,114,2005-08-25 02:48:48,2,2006-02-15 21:30:53
16042,16048,2005-08-23 22:43:07,2019,103,2005-08-31 21:33:07,1,2006-02-15 21:30:53
16043,16049,2005-08-23 22:50:12,2666,393,2005-08-30 01:01:12,2,2006-02-15 21:30:53

In [66]:
with engine.connect() as connection:
    # Getting how many loans were granted every year, and the month of each duration.
    txt = '''select year(date) as 'Year', month(date) as 'Month', count(rental_id) as 'month_rental' from sakila.rental
            group by Year, Month,
            order by Year, Month;'''
    query = text(txt)
    result = connection.execute(query)
    print(pd.DataFrame(result.all()))

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order by Year, Month' at line 3")
[SQL: select year(date) as 'Year', month(date) as 'Month', count(rental_id) as 'month_rental' from sakila.rental
            group by Year, Month,
            order by Year, Month;]
(Background on this error at: https://sqlalche.me/e/20/f405)